.KeypadsModulePage {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.KeypadsModulePage > div {
    margin-top: 1rem;
}

.KeypadsModulePage_symbols {
    display: flex;
    flex-direction: row;
}