.WiresModulePage {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.WiresModulePage > div {
    margin-top: 1rem;
}

.WiresModulePage > div * {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}