.PasswordsModulePage {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.PasswordsModulePage > div {
    margin-top: 1rem;
}

.PasswordsModulePage > div * {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}